.game-banner {
    @apply flex flex-col;

    .game-bg {
        @apply bg-cover bg-center opacity-70;
        padding-bottom: 30%;
    }

    .game-info {
        @apply flex justify-center bg-black text-white;

        .content {
            @apply relative flex items-center w-full;

            max-width: 1400px;

            .cover {
                @apply absolute bottom-8 bg-cover bg-center rounded-3xl;

                width: 20%;
                aspect-ratio: 2/3;
                box-shadow: 0 0 16px 0px #00000052;
                background-color: #232323;
            }

            .title {
                @apply flex flex-col px-10 py-8;

                margin-left: 20%;

                h1 {
                    @apply text-5xl font-semibold;
                }

                h2 {
                    @apply text-2xl;

                    margin-left: 2px;
                }
            }

            .buy {
                @apply flex items-center p-4 rounded-lg h-max bg-white text-black text-3xl font-semibold ml-auto cursor-pointer;

                transition: all 0.1s;

                &:hover {
                    @apply text-white;

                    background-color: #ff459a;

                    svg {
                        path {
                            @apply stroke-white;
                        }
                    }
                }

                label {
                    @apply relative flex items-center ml-2 mr-6 cursor-pointer;

                    &::after {
                        @apply absolute font-semibold text-2xl;
                        content: '€';
                        right: -18px;
                    }
                }
            }

            .fav {
                @apply p-4 ml-4 rounded-lg cursor-pointer;

                background-color: #ff459a;
                transition: all 0.1s;

                &:hover {
                    @apply bg-white;

                    svg {
                        path {
                            fill: #ff459a;
                        }
                    }
                }

                svg {
                    width: 36px;
                    height: 36px;

                    path {
                        @apply fill-white;
                    }
                }
            }
        }
    }

    .game-description {
        @apply flex justify-center bg-white text-black text-lg py-8 text-justify;

        p {
            max-width: calc(1400px - 120px - 32px);
        }

        .score {
            @apply flex justify-center items-center text-white text-5xl font-semibold rounded-lg ml-8;

            width: 120px;
            height: 120px;
        }
    }
}
