.game-banner {
    @apply flex flex-col;

    .game-bg {
        @apply bg-cover bg-center opacity-70;
        aspect-ratio: 3.33/1;
    }

    .game-info {
        @apply flex justify-center bg-black text-white;

        .content {
            @apply relative flex w-full;

            max-width: 1400px;

            .cover {
                @apply absolute bottom-8 bg-cover bg-center rounded-3xl;

                width: 20%;
                aspect-ratio: 2/3;
                box-shadow: 0 0 16px 0px #00000052;
            }

            .title {
                @apply flex flex-col px-10 py-8;

                margin-left: 20%;

                h1 {
                    @apply text-5xl font-semibold;
                }

                h2 {
                    @apply text-2xl;
                }
            }
        }
    }

    .game-description {
        @apply flex justify-center bg-white text-black text-lg py-8 text-justify;

        p {
            max-width: 1400px;
        }
    }
}