.game-offer {
    @apply flex items-center p-4 bg-white text-black rounded-lg;

    .shop {
        @apply text-2xl;
    }

    .buy {
        @apply flex justify-center items-center px-1 py-3 bg-black text-white rounded-lg font-semibold ml-auto cursor-pointer;

        min-width: 150px;
        transition: all 0.1s;

        &:hover {
            background-color: #ff459a;
        }

        label {
            @apply relative text-2xl ml-1 mr-4 cursor-pointer;

            &::after {
                @apply absolute font-semibold text-xl leading-8;
                content: '€';
                right: -18px;
            }
        }

        svg {
            width: 28px;
            height: 28px;

            path {
                @apply stroke-white;
            }
        }
    }
}
