.main-banner {
    @apply relative flex justify-center items-center overflow-hidden;
    background: linear-gradient(#1f001c, #000000);

    .content {
        @apply relative flex items-center h-full w-full;
        max-width: 1400px;
        animation: move-right 1s forwards;
        padding-top: 30%;

        @media (max-width: 1400px) {
            padding-left: 72px;
        }

        @media (max-width: 768px) {
            padding-top: 50%;
        }

        .text {
            @apply absolute flex items-center z-10;
            top: 50%;

            @media (max-width: 768px) {
                transform: scale(1.25);
            }

            h1 {
                @apply absolute text-white flex flex-col whitespace-nowrap;
                font-size: 4.2vw;
                line-height: 110%;
                transform: translateY(-3.2vw);

                b {
                    color: #ff459a;
                }
            }

            h2 {
                @apply absolute text-white whitespace-nowrap;
                transform: translateY(4.8vw);
                font-size: 1.55vw;
                line-height: 140%;
            }
        }
    }

    .images {
        @apply absolute w-full h-full;

        @media (max-width: 768px) {
            transform: translateX(150px);
        }

        .back {
            @apply absolute right-0;
            height: 125%;
            animation: fade-in 1s forwards;
            clip-path: polygon(43% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .front {
            @apply absolute right-0;
            height: 110%;
            margin-right: 10%;
            animation: move-up 1s forwards;

            img {
                @apply h-full;
            }
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes move-right {
        0% {
            opacity: 0;
            transform: translateX(-2.5%);
        }
        33% {
            opacity: 0;
            transform: translateX(-2.5%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes move-up {
        0% {
            opacity: 0;
            margin-top: 25%;
        }
        33% {
            opacity: 0;
            margin-top: 25%;
        }
        100% {
            opacity: 1;
            margin-top: 0%;
        }
    }
}
