.main-banner {
    @apply relative flex justify-center items-center overflow-hidden;
    aspect-ratio: 3.33/1;
    background: linear-gradient(#1f001c, #000000);

    .content {
        @apply absolute flex items-center h-full w-full;
        max-width: 1400px;
        animation: move-right 1s forwards;

        h1 {
            @apply absolute text-white flex flex-col;
            font-size: 500%;
            line-height: 110%;
            transform: translateY(-60px);

            b {
                color: #ff459a;
            }
        }

        h2 {
            @apply absolute text-white text-3xl leading-relaxed;
            transform: translateY(90px);
        }
    }

    .back {
        @apply absolute right-0;
        height: 125%;
        animation: fade-in 1s forwards;
        clip-path: polygon(43% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .front {
        @apply absolute right-0;
        height: 110%;
        margin-right: 10%;
        animation: move-up 1s forwards;

        img {
            @apply h-full;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes move-right {
        0% {
            opacity: 0;
            transform: translateX(-2.5%);
        }
        33% {
            opacity: 0;
            transform: translateX(-2.5%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes move-up {
        0% {
            opacity: 0;
            margin-top: 25%;
        }
        33% {
            opacity: 0;
            margin-top: 25%;
        }
        100% {
            opacity: 1;
            margin-top: 0%;
        }
    }
}
