header {
    @apply flex flex-col w-full text-white sticky top-0 z-10;

    background: #0f000e;

    .header-main {
        @apply flex items-center px-16;
        height: 96px;

        .search {
            @apply ml-5 relative flex items-center;

            .search-icon {
                @apply absolute left-4;

                path {
                    stroke: white;
                }
            }

            input {
                @apply pl-12 py-3 rounded-full;

                box-shadow: inset 0px 1px rgba(255, 255, 255, 0.05);
                background-color: rgba(52, 52, 52, 0.75);
                outline: 0px solid #ff459900;
                min-width: 450px;
                transition: outline 0.1s;

                &:focus {
                    outline: 2px solid #ff459a;
                }
            }
        }

        .header-actions {
            @apply flex ml-auto;

            .action {
                @apply flex cursor-pointer;

                label {
                    @apply cursor-pointer;
                }

                svg {
                    @apply mr-2;

                    path {
                        fill: white;
                        transition: fill 0.5s;
                    }
                }

                .open {
                    path {
                        fill: #ff459a;
                    }
                }
            }
        }
    }

    .header-menu {
        @apply flex justify-center items-center bg-white w-full relative;
        min-height: 72px;
    }
}
