header {
    @apply flex flex-col w-full text-white sticky top-0 z-10;

    background: #0f000e;
    box-shadow: 0 0 16px 8px #00000056;

    .header-main {
        @apply flex items-center px-16;
        height: 96px;

        @media (max-width: 768px) {
            @apply h-auto flex-col items-start p-4;
        }

        .keysgod-logo {
            @media (max-width: 768px) {
                @apply w-auto pl-2;
                height: 48px;
            }
        }

        .search {
            @apply ml-5 relative flex items-center;

            @media (max-width: 768px) {
                margin: 8px 0;
            }

            .search-icon {
                @apply absolute left-4;

                path {
                    stroke: white;
                }
            }

            .remove-icon {
                @apply absolute right-4 cursor-pointer;

                path {
                    fill: white;
                }
            }

            input {
                @apply pl-12 py-3 rounded-full;

                box-shadow: inset 0px 1px rgba(255, 255, 255, 0.05);
                background-color: rgba(52, 52, 52, 0.75);
                outline: 0px solid #ff459900;
                width: 450px;
                max-width: 90vw;
                transition: outline 0.1s;

                &:focus {
                    outline: 2px solid #ff459a;
                }
            }
        }

        .header-actions {
            @apply flex ml-auto;

            @media (max-width: 768px) {
                @apply absolute right-0 p-3 pr-6 ml-0;
            }

            .action {
                @apply flex cursor-pointer;

                label {
                    @apply cursor-pointer;

                    @media (max-width: 768px) {
                        @apply hidden;
                    }
                }

                svg {
                    @apply mr-2;

                    @media (max-width: 768px) {
                        @apply mr-0;
                    }

                    path {
                        fill: white;
                        transition: fill 0.5s;
                    }
                }

                .open {
                    path {
                        fill: #ff459a;
                    }
                }
            }
        }
    }

    .header-menu {
        @apply flex justify-center items-center bg-white w-full relative;
        min-height: 72px;

        @media (max-width: 768px) {
            @apply overflow-x-auto;
        }
    }
}
