.game-card {
    @apply flex flex-1 flex-col rounded-3xl overflow-hidden cursor-pointer;

    &:hover {
        .image {
            .image-url {
                transform: scale(1.25);
            }
        }
    }

    .image {
        @apply flex-1 bg-gray-500 overflow-hidden;

        .image-url {
            @apply w-full h-full bg-cover bg-center;

            transition: transform 0.25s;
            padding-bottom: 54%;
        }
    }

    .info {
        @apply relative flex items-center bg-black px-3 py-4 overflow-hidden;

        label {
            @apply font-semibold text-lg whitespace-nowrap;
        }

        .price {
            @apply absolute flex items-center right-3 px-2 py-1 pr-5 bg-white rounded-xl text-black font-semibold text-lg;

            box-shadow: 8px 0px 20px 20px black;

            &::after {
                @apply absolute right-2 text-black font-semibold text-base;
                content: '€';
            }

            &.free {
                @apply pr-2;

                &::after {
                    content: none;
                }
            }
        }
    }
}
